<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/about.css" />
    <title>BoxHero</title>
  </head>
  <body>
    <div class="container">
      <img class="logo" src="../static/icon.png" alt="logo" />
      <h1 class="app-name">BoxHero</h1>
      <p class="version-info">version <%= htmlWebpackPlugin.options.version %></p>
      <span class="company-link">© BGPworks</span>
    </div>

    <script>
      const { shell } = require('electron');
      const companyLink = document.querySelector('.company-link');
      companyLink.addEventListener('click', () =>
        shell.openExternal('https://bgpworks.com')
      );
    </script>
  </body>
</html>
