body {
    margin: 0;
}

.error-container {
    width: 100vw;
    height: 100vh;

    background-color: white;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.title {
    color: tomato;
}